input {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1%;
  display: block;
  width: 50%;
  margin-bottom: 5px;
  border-radius: 8px;
  margin-left: 33%;
}
button {
  display: inline;
  background-color: #0070ad;
  color: white;
  padding: 12px 20px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Arial";
  cursor: pointer;
  margin-left: 33%;
  width: 50%;
}
p {
  padding: 12px 20px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1%;
  display: block;
  width: 50%;
  margin-bottom: 5px;
  border-radius: 8px;
  margin-left: 33%;
}
h5 {
  margin-top: 80px;
  margin-left: 40%;
}
form {
  background-image: url("../../assets/clinica6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: scroll;
}
