 .page-wrap:after {
    padding-top: 10px;
    height: 45px;
    font-size: small;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: rgb(55, 132, 248);

  }

  p{
    margin-top: 0;
    font-family: "Courier New";
    line-height: 0.7;
  }
  .footer {
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    background-color: rgb(55, 132, 248);
    height: 40px;

}

.footer span{
    font-size: 1.1rem;
    font-weight: 300;
    font-size: small;

}
