table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #0070ad;
  color: white;
}
th {
  padding: 5px;
  text-align: left;
}
tbody tr:nth-child(even) {
  background-color: silver;
}
tbody tr:hover {
  background-color: #12abdb;
  color: #0d0f99;
}
body {
  background-image: url("../../assets/background2.jpg");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
  max-height: fit-content;
  background-attachment: scroll;
  min-width: 100vw;
}
